{% extends "base.html" %}
{% block title %}선수 등록{% endblock %}

{% block content %}
  <h1>선수 등록</h1>
  <form method="post">
    {% csrf_token %}
    
    <label for="id_name">이름:</label>
    {{ form.name }}
    <br>

    <label for="id_team">소속 팀:</label>
    {{ form.team }}
    <br>

    <label for="id_position">포지션:</label>
    {{ form.position }}
    <br>

    <label for="id_games_played">출장 경기 수:</label>
    {{ form.games_played }}
    <br>

    <label for="id_batting_average">타율:</label>
    {{ form.batting_average }}
    <br>

    <label for="id_home_runs">홈런:</label>
    {{ form.home_runs }}
    <br>

    <label for="id_rbi">타점:</label>
    {{ form.rbi }}
    <br><br>

    <button type="submit">저장</button>
  </form>
{% endblock %}